
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>The Login Form</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            height: 100%;
        }

        body {
            font-family: 'Segoe UI', sans-serif;
            ;
            font-size: 1rem;
            line-height: 1.6;
            height: 100%;
        }

        .wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000;
        }

        .login-form {
            width: 350px;
            margin: 0 auto;
            border: 1px solid #ddd;
            padding: 2rem;
            background: #ffffff;
        }

        .form-input {
            background: #fafafa;
            border: 1px solid #eeeeee;
            padding: 12px;
            width: 100%;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .form-button {
            background: #808080;
            border: 1px solid #ddd;
            color: white;
            padding: 10px;
            width: 100%;
            text-transform: uppercase;
        }

            .form-button:hover {
                background: #69c8e7;
            }

        .form-header {
            text-align: center;
            margin-bottom: 2rem;
        }

        .form-footer {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="wrap" style="background-color:#000000;">
        <form class="login-form" style="background-color:#282828;" asp-action="Orders" asp-controller="Admin">
            <div class="form-header">
                <h3 style="color:white;">Login</h3>
            </div>
            <!--Email Input-->
            <div class="form-group">
                <input type="text" name="username" class="form-input" placeholder="username">
            </div>
            <!--Password Input-->
            <div class="form-group">
                <input type="password" name="password" class="form-input" placeholder="password">
            </div>
            <!--Login Button-->
            <div class="form-group">
                <button class="form-button" type="submit">Login</button>
            </div>
        </form>
    </div><!--/.wrap-->
</body>
</html>